* {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic);
body {
    margin: 0;
    line-height: 1.42857143;
    color: #333;
}
.content-wrapper {
    max-width: 1170px;
    width: 100%;
}
.header {
    display: flex;
    position: fixed;
    width: 100%;
    font-size: 16px;
    z-index: 100;
    background-color: transparent; 
    margin:56px;
    margin-left: auto;
    margin-right: auto;
}
.header__main {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header__left {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;  
    width: 33.33333333%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: flex-start;
}
.header__menu {
    margin-right: 30px;
    padding: 9px 0;
}
.header__center {
    width: 33.33333333%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.header__right {
    display: flex;
    align-items: center;
    width: 33.33333333%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: flex-end;
}
.get__menu {
    border: 1px solid rgba(38, 39, 45, 0.1);
    cursor: pointer;
    border-radius: 20px;
    background-color: #267df4;
    color: #ffffff;
    padding: 9px 16px;
    content: "\f179";
}
.header__menu:hover {
    cursor: pointer;
    color: #267df4;
}
.hamburger__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}
.hamburger {
    width: 13px;
    height: 2px;
    background-color: black;
    margin: 1px 0;
}
.hamburger__menu:hover {
    cursor: pointer;
}




















@media screen and (max-width: 1200px) {
    .content-wrapper {
        max-width: 1170px; }
}
@media screen and (max-width: 992px) {
    .content-wrapper {
        max-width: 970px; 
    }
    .header__menu {
        display: none;
    }
    .header__right {
        display: none;
    }
    .header__center {
        width: 100%;
    }
    .header__left {
        width: auto;
    }
}